<%if form.object.new_record? %> 
  <%= form.label :username, 'User Name*' %><br />
  <%= form.text_field :username %><br />
<%end%>
<br />
<%= form.label :email, 'Email Address (not required - used for configurable alerts)'%><br />
<%= form.text_field :email %><br />
<%if @current_user != nil and @user.validated_email? %>
  <span class='success'>Verified Email!</span>  
<%elsif @current_user != nil and !@current_user.validate_email_token.blank? and
                             !@user.validated_email?  %>
  <span class='failure'>Email Unverified.</span>  (We have sent an e-mail to the above address for verification. If you have not received it please check your spam folder or get in touch.)
<%else%> 
  If you decide to set an email address we will send out a verification e-mail to check that it's an address you own. 
<%end%>
<br />
<br />
<%= form.label :password, form.object.new_record? ? "Password*" : "Change password" %><br />
<%= form.password_field :password %><br />
<br />
<%= form.label :password_confirmation %><br />
<%= form.password_field :password_confirmation %><br />
<%= hidden_field_tag :return_to, params[:return_to] %> 
<br/>

