/ Copyright (c) 2010 - James Southern
/ 
/ Permission is hereby granted, free of charge, to any person obtaining a copy
/ of this software and associated documentation files (the "Software"), to deal
/ in the Software without restriction, including without limitation the rights
/ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
/ copies of the Software, and to permit persons to whom the Software is
/ furnished to do so, subject to the following conditions:
/ 
/ The above copyright notice and this permission notice shall be included in
/ all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
/ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
/ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
/ THE SOFTWARE.
= inline_form.error_messages
Description:
= inline_form.text_field :description
Started at: 
= inline_form.datetime_select :start_time, 
  :discard_year=>true, :discard_month=>true, :discard_day=>true
Ended at: 
= inline_form.datetime_select :end_time, :include_blank=>true,
  :discard_year=>true, :discard_month=>true, :discard_day=>true 
= hidden_field "event", "end_time(1i)", :value=>Time.now.year
= hidden_field "event", "end_time(2i)", :value=>Time.now.month
= hidden_field "event", "end_time(3i)", :value=>Time.now.day
Useful: 
= inline_form.check_box :useful
= inline_form.submit "Create Event"
