/ Copyright (c) 2010 - James Southern
/ 
/ Permission is hereby granted, free of charge, to any person obtaining a copy
/ of this software and associated documentation files (the "Software"), to deal
/ in the Software without restriction, including without limitation the rights
/ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
/ copies of the Software, and to permit persons to whom the Software is
/ furnished to do so, subject to the following conditions:
/ 
/ The above copyright notice and this permission notice shall be included in
/ all copies or substantial portions of the Software.
/ 
/ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
/ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
/ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
/ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
/ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
/ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
/ THE SOFTWARE.

=render :partial=>'plans/index', :locals=>{:user=>@current_user}
%br
%h1
  Todays Events (
  = Time.now.to_date
  )

%br/

-form_for @new_event do |f|
  = render :partial=>'events/inline_form', :object=>f

%br/
%br/

%table
  %tr
    %th
      Description
    %th
      Started
    %th
      Finished

  -if !@current_event.blank?    
    %tr
      %td{:style=>'background:red;'}
        = @current_event.description
      %td
        = @current_event.start_time.strftime("%H:%M")
      %td
        = button_to "Finish", finish_event_path(@current_event), :method=>:post
      %td
        = link_to 'X', @current_event, :confirm => 'Are you sure?', 
                  :method => :delete 
      

  -@events.each do |event| 
    %tr
      %td
        = event.description
      %td
        = event.start_time.strftime("%H:%M") if !event.start_time.blank?
      %td
        -if !event.end_time.blank?
          = event.end_time.strftime("%H:%M") 
        -else
          - form_for event do |f|
            = f.datetime_select :end_time, :discard_year=>true,
              :discard_month=>true, :default=>event.start_time
            = f.submit "update"
      %td 
        = link_to 'edit', edit_event_path(event)

      %td
        = link_to 'X', event, :confirm => 'Are you sure?', 
                  :method => :delete 

%br
