%span
  = link_to plan.description,  plan_to_event_path(plan), :method=>:post
%span
  = plan.deadline.strftime("%b %d") unless plan.deadline.blank?
%span
  = link_to 'edit', edit_plan_path(plan)
%span
  = link_to 'X', plan, :confirm => 'You sure?', :method => :delete
.sub-plans{:style=>'margin-left:1em;'}
  = render :partial=>'plans/plan', :collection=>plan.children
